<!-- {{senior-name}} -->
<div class="grid-entry-pos">
    <a target="_blank" href="http://www.northbynorthwestern.com/{{column-url}}">
    <div class="grid-entry" style="height: 224px;">
        <img class="circular" src="http://apps.northbynorthwestern.com.s3.amazonaws.com/commencement/2020/{{slug}}.jpg" />
        <div class="story-content clearfix">
        <p class="story-title">{{column-name}}</p>
        <p class="story-author">{{senior-name}}</p>
        <p class="story-pullquote">{{excerpt}}</p>
        </div>
    </div>
    </a>
</div>